#root {
  font-size: 24px;
  font-weight: 700;
  font-family: "Space Mono";

  /* COLOURS */
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

}

body, #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--light-grayish-cyan);
}

header {
  margin: 130px 0px 70px;
}

header > h3 {
  margin: 0;
  padding: 0;
  
  font-size: 1.3rem;
  font-weight: 550;
  letter-spacing: 50%;
  color: var(--very-dark-cyan);
}

main {
  background-color: white;
  width: 840px;
  height: 430px;
}



.attribution { 
  font-size: 0.7rem;
  text-align: center;
  
  position: fixed;
  bottom: 10px;
  color: var(--black);
}

.attribution a {
  color: var(--very-dark-cyan);
}