#root {
  font-size: 16px;

  /* COLOURS */
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body, #root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  margin: 0;
  
  font-family: "Rubik";
  background-color: var(--light-grayish-cyan);
}

main {

}



.attribution { 
  font-size: 0.7rem;
  text-align: center;
  
  position: fixed;
  bottom: 10px;
  color: var(--black);
}

.attribution a {
  color: var(--very-dark-cyan);
}