:root {
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey:     hsl(0, 0%,58%);
  --white:    hsl(0, 0%, 100%);

  font-size: 16px;
  font-family: 'Roboto';
}

body, html {
  background-color: var(--blue-700);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

main.main-component{
  background-color: var(--white);
  width: 800px;
  height: 550px;
  border-radius: 35px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 35px;
}

section.content-container {

}

section.thumbnail-container > img {
  width: 345px;
}
